[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
pyaudio = "==0.2.14"
openai-whisper = "==20240930"
[dev-packages]

[requires]
python_version = "3.10"
